html {
  font-family: "Arvo", serif;
  font-size: 16px;
  background: gainsboro;
  color: black;
  margin-left: 60px;
  margin-right: 60px;
}

img {
  display: inline-block;
}

/*
----------------------------
--------HEADER--------------
----------------------------
*/

.header_line {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 65px;
  padding-bottom: 20px;
  background-color: black;
}

.logo {
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 400px;
  margin-bottom: 5px;
  padding-left: 20px;
  font-size: 20px;
}

.logo a {
  text-decoration: none;
}

.first_span {
  color: blue;
}

.second_span {
  color: red;
}

.top_menu {
  cursor: default;
}

.top_menu ul > li {
  margin-left: 30px;
  margin-top: 7px;
  padding-bottom: 4px;
  list-style: none;
  float: left;
  color: white;
}

.submenuList {
  display: none;
  flex-direction: column;
  position: absolute;
}

.genre:hover .submenuList{
  display: flex;
}

.top_menu ul li a {
  text-decoration: none;
  color: white;
}

.top_menu ul li a.sing_up {
  color: gainsboro;
}

.top_menu ul li a.log_in {
  color: gainsboro;
}

.top_menu ul li a:hover,
.top_menu ul li:hover {
  color: green;
  cursor: pointer;
}

.header_content {
  color: whitesmoke;
  background: black;
  background-image: url("../img/bridge.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.header_title {
  color: black;
  padding-top: 20px;
  font-size: 56px;
  margin-bottom: 20px;
  margin-top: -60px;
  font-family: "Merriweather", serif;
}

.header_desc {
  font-size: 28px;
  line-height: 42px;
  color: white;
  font-family: "Merriweather", serif;
}

.title_content {
  background-color: black;
  color: whitesmoke;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  font-size: 20px;
  line-height: 40px;
}

/*
----------------------------
-----------GRID-------------
----------------------------
*/

.row:after {
  clear: both;
  content: "";
  display: table;
}

.col_0 {
  margin-left: 9px;
  width: 318px;
  margin-top: 20px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  float: left;
}

.col_1 {
  margin-left: 9px;
  width: 318px;
  margin-top: 20px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  float: left;
}

.col_1:last-child {
  margin-right: 0px;
}

.col_0:last-child {
  margin-right: 0px;
}

/*
----------------------------
------PORTFOLIO-------------
----------------------------
Стилізація контенту
*/

.container_item_img {
  width: 300px;
  border: 5px solid gold;
}

.container_item_img:hover {
  border-color: white;
}

.name_actor {
  margin-top: 5px;
  font-size: 16px;
  margin-bottom: 50px;
  text-align: center;
  height: 18px;
}

.name_actor a {
  text-decoration: none;
  color: black;
}

.but {
  margin-top: -35px;
  text-align: center;
}

.but_al:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.but_al {
  border: 0px;
  height: 25px;
  width: 100%;
  color: whitesmoke;
  background-color: black;
}

/*
----------------------------
---------FOOTER-------------
----------------------------
*/

.footer {
  font-size: 14px;
  padding-top: 50px;
  margin-top: 50px;
  color: whitesmoke;
  background: black;
}

.row_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.coll {
  margin-left: 85px;
}

.main_element {
  color: grey;
  text-transform: uppercase;
}

.footer_link {
  margin-top: 25px;
}

.footer_link a {
  color: whitesmoke;
  text-decoration: none;
}

.footer_link a:hover {
  color: green;
}

.row_end {
  margin-top: 60px;
  padding-left: 200px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.row_end a {
  margin: 15px;
  font-size: 11px;
  text-decoration: none;
  color: gray;
}

.row_end a:hover {
  color: green;
}
